## Columns

age: age of primary beneficiary

sex: insurance contractor gender, female, male

bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height,
objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

children: Number of children covered by health insurance / Number of dependents

smoker: Smoking

region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

charges: Individual medical costs billed by health insurance

## DATA:
https://www.kaggle.com/datasets/ultimus/football-salaries-dataset

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("raw_wages.csv")
df

,Name,Club,Division,Based,Nat,EU National,Caps,AT Apps,Position,Age,CR,Begins,Expires,Last Club,Last Trans. Fee,Salary
0,Cristiano Ronaldo - Portuguese,Al-Nassr (KSA) - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,POR,Yes,200.0,673,ST (C),38.0,"7,629",31/12/2022,30/6/2025,,-,"€203,478,000 p/a"
1,Karim Benzema - French,Al-Ittihad - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,FRA,Yes,97.0,555,ST (C),35.0,"8,250",1/7/2023,30/6/2025,,-,"€199,452,000 p/a"
2,Neymar - Brazilian,Al-Hilal (KSA) - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,BRA,Yes,124.0,340,"AM (LC), ST (C)",31.0,"9,000",15/8/2023,30/6/2025,Paris Saint-Germain,€90M,"€149,589,000 p/a"
3,Ezri Konsa - English,Al-Hilal (KSA) - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,ENG,No,0.0,245,D (C),25.0,"7,414",27/8/2023,30/6/2027,Aston Villa,€55M,"€74,157,000 p/a"
4,Kylian Mbappé - French,Paris Saint-Germain - Ligue 1 Uber Eats,Ligue 1 Uber Eats ...,France (Ligue 1) ...,FRA,Yes,70.0,221,"AM (RL), ST (C)",24.0,"9,415",22/7/2023,30/6/2028,Monaco,€186M,"€48,467,000 p/a"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40786,- -,-,Chinese Taipei Football Premier League ...,Chinese Taipei (China PR) (CTP Premier League...,TPE,No,5.0,59,,31.0,"1,508",1/1/2019,31/12/2023,,-,€300 p/a
40787,- -,-,Mauritian Premier Division ...,Mauritius (Premier Division) ...,MRI,No,6.0,1,,21.0,"2,750",4/10/2021,30/6/2024,CTN-FB,-,€300 p/a
40788,- -,-,Somali Premier Division ...,Somalia (Somali Premier Division) ...,SOM,No,2.0,3,,24.0,"3,550",1/7/2023,30/6/2025,Mogadishu City Club,-,€300 p/a
40789,- -,-,Bank of Bhutan Premier League ...,Bhutan (Premier League) ...,BHU,No,3.0,14,,20.0,"1,403",1/1/2021,31/12/2024,Bhutan U19s,€0,€300 p/a
40790,- -,-,Division 1 Norra ...,Sweden (Division 1 Norra) ...,SWE,Yes,0.0,-,,17.0,"3,407",3/7/2023,30/11/2026,,-,€180 p/a

In [3]:
df.isnull().sum()

Name               0
Club               0
Division           0
Based              0
Nat                0
EU National        0
Caps               0
AT Apps            0
Position           0
Age                0
CR                 0
Begins             0
Expires            0
Last Club          0
Last Trans. Fee    0
Salary             0
dtype: int64

In [4]:
df.duplicated().sum()

152

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.duplicated().sum()

0

In [7]:
df.describe()

               Caps           Age
count  40639.000000  40639.000000
mean       5.163021     25.207239
std       13.687488      5.315506
min        0.000000     17.000000
25%        0.000000     21.000000
50%        0.000000     25.000000
75%        3.000000     29.000000
max      200.000000     45.000000

In [8]:
df.isna().sum().sum()

0

In [14]:


le = LabelEncoder()
df['Nat'] = le.fit_transform(df['Nat'])

In [15]:
df

,Name,Club,Division,Based,Nat,EU National,Caps,AT Apps,Position,Age,CR,Begins,Expires,Last Club,Last Trans. Fee,Salary
0,Cristiano Ronaldo - Portuguese,Al-Nassr (KSA) - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,155,Yes,200.0,673,ST (C),38.0,"7,629",31/12/2022,30/6/2025,,-,"€203,478,000 p/a"
1,Karim Benzema - French,Al-Ittihad - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,66,Yes,97.0,555,ST (C),35.0,"8,250",1/7/2023,30/6/2025,,-,"€199,452,000 p/a"
2,Neymar - Brazilian,Al-Hilal (KSA) - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,28,Yes,124.0,340,"AM (LC), ST (C)",31.0,"9,000",15/8/2023,30/6/2025,Paris Saint-Germain,€90M,"€149,589,000 p/a"
3,Ezri Konsa - English,Al-Hilal (KSA) - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,58,No,0.0,245,D (C),25.0,"7,414",27/8/2023,30/6/2027,Aston Villa,€55M,"€74,157,000 p/a"
4,Kylian Mbappé - French,Paris Saint-Germain - Ligue 1 Uber Eats,Ligue 1 Uber Eats ...,France (Ligue 1) ...,66,Yes,70.0,221,"AM (RL), ST (C)",24.0,"9,415",22/7/2023,30/6/2028,Monaco,€186M,"€48,467,000 p/a"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40786,- -,-,Chinese Taipei Football Premier League ...,Chinese Taipei (China PR) (CTP Premier League...,197,No,5.0,59,,31.0,"1,508",1/1/2019,31/12/2023,,-,€300 p/a
40787,- -,-,Mauritian Premier Division ...,Mauritius (Premier Division) ...,130,No,6.0,1,,21.0,"2,750",4/10/2021,30/6/2024,CTN-FB,-,€300 p/a
40788,- -,-,Somali Premier Division ...,Somalia (Somali Premier Division) ...,175,No,2.0,3,,24.0,"3,550",1/7/2023,30/6/2025,Mogadishu City Club,-,€300 p/a
40789,- -,-,Bank of Bhutan Premier League ...,Bhutan (Premier League) ...,21,No,3.0,14,,20.0,"1,403",1/1/2021,31/12/2024,Bhutan U19s,€0,€300 p/a
40790,- -,-,Division 1 Norra ...,Sweden (Division 1 Norra) ...,185,Yes,0.0,-,,17.0,"3,407",3/7/2023,30/11/2026,,-,€180 p/a

In [17]:
df = pd.get_dummies(df, columns=['Division'])

In [18]:
df

,Name,Club,Based,Nat,EU National,Caps,AT Apps,Position,Age,CR,...,Division_ Zimbabwean Premier Division,Division_ cinch Championship,Division_ cinch League One,Division_ cinch League Two,Division_ cinch Premiership,Division_ efbet League,Division_ Çempionatının Həvəskarlar Liqası,Division_ Éierepromotioun,Division_ Česká fotbalová liga A,Division_ Česká fotbalová liga B
0,Cristiano Ronaldo - Portuguese,Al-Nassr (KSA) - Roshn Saudi League,Saudi Arabia (Saudi Pro League) ...,155,Yes,200.0,673,ST (C),38.0,"7,629",...,False,False,False,False,False,False,False,False,False,False
1,Karim Benzema - French,Al-Ittihad - Roshn Saudi League,Saudi Arabia (Saudi Pro League) ...,66,Yes,97.0,555,ST (C),35.0,"8,250",...,False,False,False,False,False,False,False,False,False,False
2,Neymar - Brazilian,Al-Hilal (KSA) - Roshn Saudi League,Saudi Arabia (Saudi Pro League) ...,28,Yes,124.0,340,"AM (LC), ST (C)",31.0,"9,000",...,False,False,False,False,False,False,False,False,False,False
3,Ezri Konsa - English,Al-Hilal (KSA) - Roshn Saudi League,Saudi Arabia (Saudi Pro League) ...,58,No,0.0,245,D (C),25.0,"7,414",...,False,False,False,False,False,False,False,False,False,False
4,Kylian Mbappé - French,Paris Saint-Germain - Ligue 1 Uber Eats,France (Ligue 1) ...,66,Yes,70.0,221,"AM (RL), ST (C)",24.0,"9,415",...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40786,- -,-,Chinese Taipei (China PR) (CTP Premier League...,197,No,5.0,59,,31.0,"1,508",...,False,False,False,False,False,False,False,False,False,False
40787,- -,-,Mauritius (Premier Division) ...,130,No,6.0,1,,21.0,"2,750",...,False,False,False,False,False,False,False,False,False,False
40788,- -,-,Somalia (Somali Premier Division) ...,175,No,2.0,3,,24.0,"3,550",...,False,False,False,False,False,False,False,False,False,False
40789,- -,-,Bhutan (Premier League) ...,21,No,3.0,14,,20.0,"1,403",...,False,False,False,False,False,False,False,False,False,False
40790,- -,-,Sweden (Division 1 Norra) ...,185,Yes,0.0,-,,17.0,"3,407",...,False,False,False,False,False,False,False,False,False,False

In [22]:
X_train

0        38.0
1        35.0
2        31.0
3        25.0
4        24.0
         ...
40786    31.0
40787    21.0
40788    24.0
40789    20.0
40790    17.0
Name: Age, Length: 40639, dtype: float64

In [37]:
# Evaluate the model on training data
train_score = linear_reg_model.score(X_train, y_train)
print("Training R^2 Score:", train_score)

# Evaluate the model on validation data
val_score = linear_reg_model.score(X_val, y_val)
print("Validation R^2 Score:", val_score)

Training R^2 Score: 0.7299057809339075
Validation R^2 Score: 0.8069287081198013

In [ ]:
f = plt.figure(figsize=(14,6))
ax = f.add_subplot(121)
sns.scatterplot(x='age',y='salary',data=df,palette='magma',hue='salary',ax=ax)
ax.set_title('Scatter plot of Charges vs age')

ax = f.add_subplot(122)
sns.scatterplot(x='bmi',y='charges',data=df,palette='viridis',hue='smoker')
ax.set_title('Scatter plot of Charges vs bmi')